.popup__container {
  display: grid;
  grid-template-columns: 430px 32px;
  grid-template-rows: 32px 330px;
  row-gap: 8px;
  column-gap: 8px;
  grid-template-areas: ". close-button"
                       "form .";

}

@media screen and (max-width: 600px) {
  .popup__container {
    grid-template-columns: 262px 20px;
    grid-template-rows: 20px 322px;
    row-gap: 16px;
    column-gap: 0px;
    grid-template-areas: ". close-button"
                         "form form";
  }
}
