.popup__form-submit {
  margin: 19px 0 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 2px;
  font-size: 18px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__form-submit {
    font-size: 14px;
    margin-top: 45px;
    height: 46px;
  }
}

@media (hover: hover) {
  .popup__form-submit:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
