@import url("../vendor/normalize.css");

@import url("../vendor/fonts/fonts.css");

@import url("../blocks/page/page.css");

@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/_opened/popup_opened.css");
@import url("../blocks/popup/__container/popup__container.css");
@import url("../blocks/popup/__close/popup__close.css");
@import url("../blocks/popup/__form-container/popup__form-container.css");

@import url("../blocks/form/form.css");
@import url("../blocks/form/__heading/form__heading.css");
@import url("../blocks/form/__item/form__item.css");
@import url("../blocks/form/__button/form__button.css");

@import url("../blocks/content/content.css");

@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");

@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__avatar/profile__avatar.css");
@import url("../blocks/profile/__edit-button/profile__edit-button.css");
@import url("../blocks/profile/__job/profile__job.css");
@import url("../blocks/profile/__top/profile__top.css");
@import url("../blocks/profile/__userinfo/profile__userinfo.css");
@import url("../blocks/profile/__name/profile__name.css");

@import url("../blocks/places/places.css");
@import url("../blocks/place/place.css");
@import url("../blocks/place/__image/place__image.css");
@import url("../blocks/place/__info/place__info.css");
@import url("../blocks/place/__name/place__name.css");
@import url("../blocks/place/__like-icon/place__like-icon.css");
@import url("../blocks/place/__like-icon/_active/place__like-icon_active.css");

@import url("../blocks/add-button/add-button.css");

@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");
