.profile__job {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .profile__job {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
